.col-heading {
  position: relative;
}
.col-heading::after {
  content: "";
  border-bottom: 40px solid rgb(239 68 68);
  border-right: 50px solid transparent;
  right: -49px;

  position: absolute;
}
